/* declaring CSS variables */
:root{
  --base-color: #ff7f50;
  --spacing : 30px;
  --blur: 2px;
}
/*  appling the variables to img */
img {
  padding: var(--spacing);
  background: var(--base-color);
  filter: blur(var(--blur));
}

.hl{
  color: var(--base-color);
}
/*
      misc styles, nothing to do with CSS variables
    */

body {
  text-align: center;
  background: #4291c9;
  color: white;
  font-family: "helvetica neue", sans-serif;
  font-weight: 80;
  font-size: 30px;
}

.controls {
  margin-bottom: 40px;
}

input {
  width: 100px;
}
img {
  border-radius: 2%;
}
